name: Go

on:
  push:
    branches: [ master ]
    paths: &paths
      - "*.go"
      - "test/*"
  pull_request:
    branches: [ master ]
    paths: *paths

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Test
        run: test/test_pings.sh
